<div class="sidebar-block">
    <div class="promo-sidebar">
        <div class="promo-sidebar-title">Полезные сервисы</div>
        <a class="promo-s-item" href="{{ site.yandex.browser_ref }}" target="_blank" rel="noopener sponsored nofollow">
            <div class="promo-s-icon browser">🌐</div>
            <div class="promo-s-text">
                <h4>Яндекс Браузер</h4>
                <span>Быстрый, со встроенным ИИ</span>
            </div>
        </a>
       <!-- <a class="promo-s-item" href="{{ site.yandex.market_ref }}" target="_blank" rel="noopener sponsored nofollow">
            <div class="promo-s-icon market">🛒</div>
            <div class="promo-s-text">
                <h4>Яндекс Маркет</h4>
                <span>Сравнить цены, купить выгодно</span>
            </div>
        </a>
        <a class="promo-s-item" href="{{ site.yandex.plus_ref }}" target="_blank" rel="noopener sponsored nofollow">
            <div class="promo-s-icon plus">✨</div>
            <div class="promo-s-text">
                <h4>Яндекс Плюс</h4>
                <span>Кешбэк, музыка, кино</span>
            </div>
        </a>
        <a class="promo-s-item" href="{{ site.yandex.disk_ref }}" target="_blank" rel="noopener sponsored nofollow">
            <div class="promo-s-icon disk">☁️</div>
            <div class="promo-s-text">
                <h4>Яндекс Диск</h4>
                <span>Облако для файлов</span>
            </div>
        </a>-->
    </div>
</div>
